.review-container {
	width: 50%;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.result-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 3rem;
	margin: 30px;
	margin-left: 2px;
}

.search-result {
	text-align: center;
}

.card-image {
	height: 200px;
}

.show-doctors {
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 3rem;
	margin: 30px;
}

.review {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 1rem;
	margin: 2rem;
}

.carousel-overlay {
	position: absolute;
	bottom: 175px;
	right: 0;
	left: 0;
}

.single-review {
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
}

.search-form {
	width: 600px;
	padding-right: 50px;
}

.slideshow {
	overflow: hidden;
	padding-bottom: 30px;
}

.img-fluid {
	width: 380px;
 
}

.review-card {
	background-color: rgba(208, 205, 205, 0.194);
	margin-top: 20px;
	margin-bottom: 20px;
}

.logo-image {
	width: 250px;
}

.doctor-review-container {
	display: flex;
	justify-content: space-around;
	border: 1px solid black;
	overflow: wrap;
	height: 500px;
}

.doctor-heading {
	color: white;
	font-family: 'Montserrat', sans-serif;
		text-shadow: 0 0.3rem 0.5rem rgb(36, 33, 33);
}
.doctor-about {
	line-height: 1.5rem;
	text-align: justify;
	font-family: 'Tenali Ramakrishna', sans-serif;
	font-size: 25px;
}

.doctor-office {
	margin-top: 0px;
	padding-top: 0px;
}

.contact-info {
	line-height: 1.5rem;
	padding: 0px;
	margin: 0px;
}

.review-button {
	padding: 8px;
	width: 100%;
	font-weight: bold;
	/* text-shadow: 0 0.3rem 0.5rem rgb(36, 33, 33); */
	color: white;
	background-color: rgba(24, 143, 131, 0.831);
	border-radius: 1.5em;
	border: 1px solid rgb(223, 222, 222);
}

a {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-weight: bolder;
}

a:hover {
	text-decoration: underline;
	color: purple;
}
.doctor-image {
    padding-top:30px;
}