@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&family=Oswald:wght@700&display=swap');

* {
	padding: 0px;
}

body {
	background-color: #ede7e3;
}

nav {
	background: #586f6b;
	padding: 15px 15px;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}

.zoodoc {
	margin: 0px;	
	font-size: 2.5rem;
	font-weight: bolder;
}

.community {
	margin: 0px;
	font-weight: bolder;
}

.links a{
	background-color: rgba(255, 255, 255, 0.199);
	border: 1px solid white;
	margin: 5px;
	color: #ede7e3;	
	padding: 10px;
}

nav a:visited {
	text-decoration: none;
	color: white;
}

.links a:hover {
	color: #2c3836;
	border: 1px solid #2c3836;
}

.title {
	display: inline;
	color: #1d2524;
	text-align: left;
}

.search-container{
	text-align: center;
	border: 1px solid black;
}

.search {
	padding: 15px;
	width: 75%;
	text-align: left;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
}