@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');

* {
	padding: 0px;
}

body {
	/* background-color: #ede7e3; */
	background: #33468fa5;
}

nav {
	background: #1900f500;
	padding: 15px 15px;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}

.zoodoc {
	margin: 0px;
	font-family: 'Lexend Tera', sans-serif;
	font-size: 2.75rem;
	font-weight: bolder;
}

.community {
	margin: 0px;
	font-weight: bolder;
}

.links a {
	background-color: rgba(255, 255, 255, 0.178);
	border: 1px solid white;
	margin: 10px;
	color: #ede7e3;
	padding: 10px;
}

nav a:visited {
	text-decoration: none;
	color: white;
}

.links a:hover {
	color: #2c3836;
	border: 1px solid #2c3836;
}

.title {
	display: inline;
	color: #1d2524;
	text-align: left;
}

.spacer {
	text-align: center;
	margin: 15px;
}

.search-banner {
	color: white;
	text-emphasis: bolder;
	font-size: 2em;
}

.search-container {
	text-align: center;
	/* border: 1px solid black; */
	background-color: #e1e1e100;
	display: flex;
	width: 50%;
	margin-top: 200px;
	margin-left: 380px;
	position: absolute;
	z-index: 10;
}

.search {
	padding: 15px;
	width: 75%;
	text-align: left;
	border: 0.5 px solid black;
}

.search-button {
	padding: 8px;
	font-weight: bold;
	color: white;
	background-color: rgba(24, 143, 131, 0.831);
	border-radius: 1.5em;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
}

.carousel {
	opacity: 0.8;
}
.search-bar {
	border-radius: 2em;
}
